/*be in common use*/
h1 {
    position: relative;
    margin: 0;
    top: 80px;
    font-size: 30px;
    color: #2b2724;
}

h2 {
    color: #27221f;
    margin: 30px 0px;
}


.line {
    position: absolute;
    margin-top: 13px !important;
    display: inline-block;
    width: 360px;
    height: 14px;
}

p {
    font-family: Microsoft YaHei,STHeiti Light;
}

.preamble {
    font-size: 20px;
    color: #525353;
    line-height: 30px;
    letter-spacing: 3px;
}

.preamble small {
    font-size: 30px;
    color: #2b2724;

}

.web-width {
    width: 100%;
}

.main-div {
    position: relative;
    text-align: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.web-zIndex {
    z-index: -2;
}

.main-zIndex {
    z-index: -1;
}

.line-height {
    line-height: 35px;
}

.filter {
    /*border: 5px solid blue;*/
    width:100%;
    height:100%;
    background-color:black;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
}

.text-broadwise {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    /* IE6,IE7 */
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    /* IE8 */
    -moz-transform: rotate(-90deg);
    /* 火狐3.5+ */
    -o-transform: rotate(-90deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);
    /* Safari 3.1+, Chrome */
    position: absolute;
}

.secondP {
    position: relative;
    margin-top: 30px;
    line-height: 30px;
    font-size: 16px;
}


.introduction {
    color: #ffffff;
    position: absolute;
    text-align: center;
    top: 40px;
    left: 190px;
    opacity: 70;
    z-index: 2;
    line-height: 40px;
    font-size: 28px;
}



.introduction p:first-child {
    position: relative;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 28px;
}

.introduction-small {
    position: absolute;
    display: inline;
    float: left;
    top:-45px;
    left: 680px;
    width: 480px;
    height: 380px;
    text-align: center;
    background-color: #ffce4b;
    z-index: 3;
}

.introduction-small span {
    color: #2b2724;
    position: relative;
    top: 50px;
    font-size: 36px;
    line-height: 80px;
    letter-spacing: 3px;
}


.text-index {
    left: -15px;
    top: 0px;
    font-size: 56px
}

.introduction-dual-small {
    position: absolute;
    display: inline;
    float: left;
    left: 40px;
    bottom: 68px;
    width: 480px;
    height: 380px;
    text-align: center;
    z-index: 3;
    /*opacity: 70;*/
    /*filter：alpha(opacity=70);*/
    background-color: #ffce4b;
}

.introduction-dual-small span{
    color: #2b2724;
    position: relative;
    top: 50px;
    left:10px;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 8px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}


.imgMore {
    position: relative;
    top:80px;
    height: 26px;
    width: 100px;
}

.imgMore-first {
    top:50px !important;
}

.imgMore-third {
    top:50px !important;
}

.introduction-small-imgC {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 140px;
    height: 140px;
    transition: .6s transform;
    transform: translateZ(0);
}

.img-rocket {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 140px;
    height: 140px;
    transition: .1s transform;
    transform: translateZ(0);
}

.saithImg-div{
    transition: .6s transform;
}

.saithImg-div:hover  {
    transform: scale(1.3, 1.3);
    transition: .5s transform;
    box-shadow: 0 5px 28px rgba(0,0,0,0.15), 0 4px 10px rgba(0,0,0,0.25);
}

.dualImg-div{
    transition: .5s transform;
}

.dualImg-div:hover  {
    transform: scale(1.3, 1.3);
    transition: .5s transform;
    box-shadow: 0 5px 28px rgba(0,0,0,0.15), 0 4px 10px rgba(0,0,0,0.25);
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

.display-div {
    opacity: 1;
    -webkit-transition: 2s;
    transition: 2s;
}

.hidden-div {
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: center;
}


.effect-bubba {

}

.effect-bubba:hover {
    cursor: pointer;
    transition: 1s;
}

.effect-bubba figcaption {

}


.effect-bubba figcaption::before,
.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: opacity 0.6s, transform 0.6s;
}

.effect-bubba figcaption::before {
    transition: 1s;
    border-top: 1px solid #201001;
    border-bottom: 1px solid #201001;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.effect-bubba figcaption::after {
    transition: 1s;
    border-right: 1px solid #201001;
    border-left: 1px solid #201001;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

.effect-bubba .hidden-div {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.effect-bubba:hover figcaption::before,
.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effect-bubba:hover .hidden-div {
    /*transform: scale(0.83, 0.71);*/
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;

    opacity: 1;
}

.effect-bubba:hover .display-div {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
}


.introduction-small-img {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
}

.effect-bubba:hover .display-div,
.effect-bubba:hover .introduction-small-img {
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.btn-readMore {
    display: inline-block;
    background-color: #201001;
    color: #ffd416;
    position: relative;
    margin: 10px;
    width: 100px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;

    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border:none;
}

/*top*/
.top {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 60px;
}

.main-top {
    height: 60px;
    position: relative;
    margin: 0 auto;
}

.header-navigation {
    z-index: 999;
    background-color: #ffd416;
    /*box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);*/
}

.header-navigation img {
    position: absolute;
    left: 0;
    top:9px;
    margin: auto;
}

/*.slideUp {*/
    /*background-color: snow;*/
    /*filter:alpha(opacity=50);*/
    /*-moz-opacity:0.5;*/
    /*-khtml-opacity: 0.5;*/
    /*opacity: 0.5;*/
    /*!*background-color:white;*!*/
    /*!*filter:alpha(Opacity=24);-moz-opacity:0.15;opacity: 0.15;*!*/
/*}*/

/*导航菜单向下滑动*/
/*.slideDown {*/
    /*background-color: #ffce4b;*/
/*}*/

.main-top ul {
    position: absolute;
    width: 550px;
    height: 60px;
    text-align: center;
    right: 0px;
    margin: 0px;
    border: thin none;
    list-style-type: none;
}

.main-top li {
    color: #2b2724;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 60px;
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    position: relative;
    float: left;
    font-size: 20px;
    padding-bottom: 0px;
}

.link {
    color: #2b2724;
    position: relative;
    margin: 25px;
    text-decoration: none;
}

.link-about {
    width: 130px;
    margin: 25px 0px;
}

.main-top li:hover {
    /*transition: 1s;*/
    background-color: #2b2724;
}

.main-top li:hover .link{
    /*transition: 1s;*/
    color: #ffd304;
}

.li-onClike {
    background-color: #2b2724 !important;
}

.link-onClike {
    color: #ffd304;
}

/*homePage*/
.homePage{
    height: 580px !important;
    margin-top: 60px !important;
    z-index: 1;
    min-height: 580px;
    padding-top: 100px !important;
    background-position:85px 0px;
}



/*second*/
.web-secondView {
    position: relative;
    height: 400px;
    background-color: #ffffff;
}

.main-secondView {
    position: relative;
    text-align: center;
}

.main-secondView button:hover {
    cursor: pointer;
    transition: .5s;
}

.main-secondView-bg {
    position: relative;
    z-index: -1;
    top: -52px;
    height: 90px;
    width: 1280px;
}


.secondView-mouse {
    position: relative;
    left:40px;
    top: -115px;
}

.secondView-signUp {
    position: relative;
    width: 1200px;
    height: 250px;
    top: -70px;
}


.secondView-signUp:hover {
    cursor: pointer;
    transition: 1s;
}

.btn {
    position: absolute;
    width: 180px;
    height: 50px;
    top: 220px;
    right: 100px;
    border-radius: 10px;
    border: none;
    background-color: #ffce4b;
}

.web-secondView span {
    position: absolute;
    left: 540px;
    top: 70px;
}

.web-secondView p:first-child {
    font-size: 20px;
    margin-bottom: 50px;
}

/*web-thirdView*/
.web-thirdView {
    height: 700px;
    background-color: #f5f5f5;
}

.main-thirdView {
    z-index: 1;
    height: 100%;
    /*border: 3px solid red;*/
}

.main-title {
    position: relative;
    width: 1200px;
    text-align: center;
    top: 70px;
    /*height: 15px;*/
    /*border:  3px solid red;*/
    margin-bottom: 50px;
}

.main-title  h1 {
    top:0 !important;
    position: relative;
    width: 480px;
    margin: 0 360px;
}

.main-thirdView-firstline {
    float: left;
    left: 95px;
}

.main-thirdView-secondline {
    bottom: 8px;
    float: right;
    right: 95px;
}

.main-thirdView table {
    height: 260px;
}

.thirdView-p {
    position: relative;
    top: -40px;
}

.main-third-position {
    top:310px;
}


.main-thirdView td {
    height:260px;
}

.main-thirdView small {
    font-size: 30px;
    color: #2b2724;
}

.main-thirdView td:first-child {
    float: left;
    position: relative;
    width: 100px;
    padding: auto 5px;
}

.classroom {
    /*-webkit-filter:grayscale(0.7);*/
    position: relative;
    display: inline-block;
    top: -70px;
    left: 0px;
    height: 420px;
    width: 750px;
    text-align: center;
    background-image: url("../img/main/icon_img2.png");
}


.main-thirdView-line {
    position: relative;
    height: 11px;
    width: 166px;
}

.main-thirdView-btn {
    left: -5px !important;
}

.main-thirdView-hiddenP {

}

.main-thirdView-hiddenP span{
    color: #2b2724 !important;
    font-size: 18px !important;
    left: 35px !important;
    line-height: 40px !important;
    top: 20px !important;
}


/*main-fourthView*/
.web-fourthView {
    height: 700px;
    background-color: #ffffff;
}

.main-fourthView {
    position: relative;
    height: 100%;
    width: 1200px;
}

.fourthView-p {
    position: relative;
    top: -30px;
    right: -300px;
}

.main-fourthView table {
    height: 260px;
}

.main-fourthView td {
    height: 260px;
}

.main-fourthView-index {
    float: right;
    position: absolute;
    right: -10px;
    top: 0px;
    font-size: 60px;
}

.main-fourthView td:first-child {
    line-height: 42px;
    position: relative;
    right: -300px;
    font-size: 27px;
    width: 750px;
}

.main-fourthView-view {
    -webkit-filter:grayscale(0.7);
    position: relative;
    display: inline-block;
    right: -450px;
    bottom: 50px;
    height: 420px;
    width: 750px;
    text-align: center;
    background-image: url("../img/main/icon_img3.png");
}

.main-fourthView-view  span {
    top: 100px;
}

.main-secondView-btn {
    left: -10px !important;
}

.main-secondView-hiddenP {

}

.main-secondView-hiddenP span {
    color: #2b2724 !important;
    font-size: 18px !important;
    left: 20px !important;
    top: 30px !important;
}

.main-secondView-hiddenP p {
    margin-bottom: 50px;
}


/*web-fifthView*/
.web-fifthView {
    height: 700px;
    background-color: #f5f5f5;
}

.main-fifthView {
    z-index: 1;
    height: 100%;
    width: 1200px;
}

.main-fifthView table {
    height: 260px;
}

.main-fifthView td {
    height:260px;
}

.main-fifthView td:first-child {
    float: left;
    position: relative;
    width: 100px;
    padding: auto 5px;
}

.main-position {
    position: absolute;
}

.main-fifthView-view {
    position: relative;
    display: inline-block;
    left: 0px;
    bottom: 60px;
    height: 425px;
    width: 750px;
    /*-webkit-filter:grayscale(0.7);*/
    background-image: url("../img/main/icon_img4.png");
}

.main-fifthView-view span {
    position: absolute;
    top: 50px;
    left: 150px;
}

.main-fifthView-view p:first-child {
    line-height: 60px;
    font-family: SimHei;
    font-size: 35px;
}

.main-fifthView-view p:nth-child(2){
    line-height: 40px;
    font-size: 25px;
}

.main-fifthView-small {
    position: absolute;
    display: inline;
    float: left;
    top:60px;
    left: 740px;
    width: 540px;
    height: 420px;
    background-color: #ffce4b;
}

.introduction-small-third {
    top:-35px !important;
}

.introduction-small-third span {
    top: 30px !important;
}

.main-fifthView-btn {
    left: 5px !important;
}

.main-fifthView-hiddenP {

}

.main-fifthView-hiddenP span {
    color: #2b2724 !important;
    line-height: 40px !important;
    font-size: 18px !important;
    left: 5px !important;
    top: 30px !important;
}

.main-fifthView-hiddenP button {
    margin-top: 30px;
    left: -10px;
}


/*web-sixthView*/
.web-sixthView {
    height: 700px;
    background-color: #ffffff;
}

.main-sixthView {
    position: relative;
    height: 100%;
    width: 1200px;
    /*border:3px solid red;*/
}

.sixthView-p {
    position: relative;
    top: -40px;
    left: 30px;
    text-align: right;
}

.main-sixthView table {
    height: 260px;
}

.main-sixthView td {
    height:260px;
}

.main-sixthView-index {
    position: relative;
    right: -355px;
    top: -40px;
    font-size: 56px;
}

.main-sixthView td:first-child {
    line-height: 42px;
    position: relative;
    right: -300px;
    font-size: 27px;
}

.main-sixthView-position {
    top: 250px;
}

.main-sixthView-view {
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: -450px;
    height: 420px;
    width: 750px;
    background-image: url("../img/main/icon_img5.png");
}

.main-sixthView-view span {
    top: 60px;
}

.main-sixthView-introduction {
    top: 80px !important;
}

.main-sixthView-hiddenP {

}

.main-sixthView-hiddenP span {
    color: #2b2724 !important;
    line-height: 40px !important;
    font-size: 18px !important;
    left: 98px !important;
    top: 40px !important;
}

.main-sixthView-btn {
    left: -5px ;
}

.hidden-div span {
    position: relative;
    top: 200px;
    left: 30px;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 8px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}



/*curriculum*/
.curriculum {
    z-index: 100 !important;
    position: relative;
    height: 520px;
    background-color: #f5f5f5;
}

.curriculum-div {
    /*border:3px solid red;*/
}

.curriculum-div h1 {

}

.curriculum-gradient {
    position: relative;
    width: 100%;
    height: 100%;
}

.curriculum-gradient > div:first-child {
    position: absolute;
    background-color: #b3b3b3;
    width: 505px;
    height: 8px;
    bottom: 120px;
    left: -340px;
}


.curriculum-kc {
    position: absolute;
    width: 240px;
    height: 60px;
}

.curriculum-kc >div {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background-color: #b3b3b3;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 100px;
    top: -80px;
}


.curriculum-kc p {
    position: absolute;
    font-size: 20px;
    top: 10px;
    color: #2b2724;
}

.curriculum-kc-shuqi {
    bottom: 135px;
    left: 155px;
    background-image: url("../img/main/icon_kc01.png");
}

.curriculum-kc-shuqi:hover {
    transition: .6s;
    background-image: url("../img/main/icon_kc1.png");
}

.curriculum-kc-shuqi:hover p {
    transition: .6s;
    color: #ffa84a;
}

.curriculum-kc-shuqi:hover >div {
    transition: .6s;
    background-color: #ffa84a !important;
}

.curriculum-kc-shuqi p {
    left: 45px;
}


.curriculum-kc-xuankao {
    background-image: url("../img/main/icon_kc02.png");
    bottom: 205px;
    left: 387px;
}

.curriculum-kc-xuankao:hover {
    transition: .6s;
    background-image: url("../img/main/icon_kc2.png");
}

.curriculum-kc-xuankao:hover p {
    transition: .6s;
    color: #ff704a;
}

.curriculum-kc-xuankao:hover >div {
    transition: .6s;
    background-color: #ff704a;
}

.curriculum-kc-xuankao p {
    left: 70px;
}

.curriculum-kc-hangjia {
    background-image: url("../img/main/icon_kc03.png");
    bottom: 275px;
    left: 619px;
}

.curriculum-kc-hangjia:hover {
    transition: .6s;
    background-image: url("../img/main/icon_kc3.png");
}

.curriculum-kc-hangjia:hover p {
    transition: .6s;
    color: #8755e3;
}

.curriculum-kc-hangjia:hover >div {
    transition: .6s;
    background-color: #8755e3;
}

.curriculum-kc-hangjia p {
    left: 40px;
}

.curriculum-kc-gaokao {
    background-image: url("../img/main/icon_kc04.png");
    bottom: 345px;
    left: 851px;
}

.curriculum-kc-gaokao:hover {
    transition: .6s;
    background-image: url("../img/main/icon_kc4.png");
}

.curriculum-kc-gaokao:hover p {
    transition: .6s;
    color: #38bdf4;
}

.curriculum-kc-gaokao:hover >div {
    transition: .6s;
    background-color: #38bdf4;
}

.curriculum-kc-gaokao p {
    left: 75px;
}

/*teacher*/
.teacher {
    height: 1120px;
    background-color: #ffffff;
}

.teacher > div {
    /*border: 2px solid red;*/
}

.teacher h1 {

}

.teacher-leadin {
    position: relative;
    margin: 0;
    top: 60px;
    font-size: 16px;
    color: #525353;
}

.teacher-img {
    position: relative;
    width: 1200px;
    height: 340px;
    top:100px;
    background-image: url("../img/main/img_teacher.png");
}

.teacher-summary {
    position: relative;
    height: 410px;
    width: 1200px;
    top: 200px;
    /*border: 1px solid red;*/
}

.yuan {
    margin: auto;
    position: relative;
    top: -30px;
    width: 60px;
    height: 60px;
    /*border: 1px solid red;*/
    border-radius: 60px;
    background-color: #b3b3b3;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.teacher-background {
    left:0;
}

.teacher-experience {
    left: 425px;
}

.teacher-team {
    right: 0;
}

.teacher-display{

}

.teacher-display {
    position: absolute;
    width: 400px;
    height: 410px;
    /*border: 1px solid black;*/
}

.teacher-display:hover {
    transition: 1s;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15), 0 3px 10px rgba(0,0,0,0.15);
}

.teacher-display:hover >.yuan {
    transition: 1s;
    background-color: #ffd304;
}

.teacher-display h2 {
    position: relative;
    top: -15px;
    font-size: 26px;
    color: #2b2724;
}

.teacher-display p {
    position: relative;
    top: 10px;
    color: #525353;
    line-height: 30px;
    font-size: 16px;
}


/*about*/
.about {
    height: 1600px;
    position: relative;
    margin: 0 ;
    background-color: #f5f5f5;
}

.about > div {
    text-align: center;
    /*border: 3px solid red;*/
}

.about-leadin {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    color: #525353;
    top: 80px;
}

.campus {
    position: relative;
    margin-top: 150px;
}

.campus-img {
    height: 310px;
    /*border: 1px solid red;*/
}

#posterTvGrid >div >div {
    cursor:none !important;
}

.arrow {
     /*visibility: hidden;*/
}

.arrow .prev,
.arrow .next {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    width: 64px;
    height: 220px;
    top: 26%;
    z-index: 3;
    font: 700 96px 'simsun';
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
}

.arrow .prev {
    left: 0px;
}

.arrow .next {
    right: 0px;
}

.arrow .prev:hover,
.arrow .next:hover {
    color: #00a0e9;
    opacity: .7;
}

.contactWay {
    width: 1200px;
    height: 481px;
    background-image: url("../img/main/icon_ditu.png");
}


.table-leaveWord {
    position: relative;
    width: 920px;
    height: 85px;
    left:150px;
    text-align: left;
    border: 2px solid #f1f1f1;
    background-color: #ffffff;
}

.table-leaveWord th,
.table-leaveWord td {
    height: 42px;
    padding-left: 20px;
}

.table-leaveWord th {
    color: #2c271e;
}

.table-leaveWord td {
    padding-bottom: 5px;
    color: #d0d0d0;
}


.table-leaveWord th:first-child,
.table-leaveWord th:first-child + th,
.table-leaveWord td:first-child,
.table-leaveWord td:first-child + td {
    width: 250px;
    border-right: 2px solid #f1f1f1;
}

.th-btn {
    text-align: center;
    width: 175px;
    /*border-left: 2px solid red;*/
}

.th-btn > button {
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #ffd416;
    width: 120px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.table-leaveWord input {
    height: 35px;
    width: 220px;
    border: none;
}

.table-leaveWord + h2 {
    font-size: 22px !important;
    color: #2b2724 !important;
}

/*web-bottom*/
.web-bottom {
    position: relative;
    margin: 0 ;
    background-color: #282828;
    height: 250px;
    bottom: 0px;
}

.main-bottom {
    position: relative;
    /*border: 2px solid red;*/
    width: 1200px;
    color: #636666;
}

.main-address {
    position: absolute;
    font-size: 22px;
    width: 150px;
    top: 90px;
    left: 0px;
    color: #636666;
}

.main-addresslist {
    position: absolute;
    top: 70px;
    left: 170px;
    font-size: 16px;
    line-height: 30px;
    color: #636666;
}

.main-addresslist p {
    text-align: left;
}

.telephone {
    position: absolute;
    color: #636666;
    font-size: 22px;
    width: 400px;
    top: 90px;
    left: 640px;
}